/* 😉😉😉 */

*{
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: whitesmoke;
}

body {
    background-color: #858ced;
}

.wrapper {
    height: 525px;
    width: 360px;
    color: whitesmoke;
    background: #272639;
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 100px auto;
}

/* 😉😉😉 */